.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFA451;
}

.size{
    font-size: 30px;
    font-weight: 700;
    color: white;
}